<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641378212845-otj2slgr7g0mqf06sudtobmoefl6avij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641378212845-otj2slgr7g0mqf06sudtobmoefl6avij</string>
	<key>API_KEY</key>
	<string>AIzaSyBW_Kgail4c0TswyThZbLahebnF1p_zST8</string>
	<key>GCM_SENDER_ID</key>
	<string>641378212845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ivanov.igor.vk1</string>
	<key>PROJECT_ID</key>
	<string>geekbrainsvk-407c1</string>
	<key>STORAGE_BUCKET</key>
	<string>geekbrainsvk-407c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641378212845:ios:92408602a326cee38825e4</string>
	<key>DATABASE_URL</key>
	<string>https://geekbrainsvk-407c1.firebaseio.com</string>
</dict>
</plist>